body{
	padding: 30px;
	font-family: Poppins !important;
}

img.logo{
	width: 30%;
	margin-bottom: 26px;
}

.msg{
	font-weight: 300;
	font-size: 0.7rem !important;
	line-height: 1.3;
	width: 80%;
	margin-bottom: 20px;
	text-align: center;
	color: #FFFFFF80;
}

.alignCenter{
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate3d(-50%, -70%, 0px);
}

p.copy{
	font-size: 0.5rem !important;
	font-weight: 300;
	text-align: center;
	position: absolute;
	bottom: 10;
	left: 50%;
	transform: translateX(-50%);
	color: #ffffff30;
}

label.input{
	position: relative;
	margin-bottom: -7px;
	font-size: 0.7rem;
	font-weight: 300;
	margin-left: 10px;
	background: #3FBFF3;
	color: #ffffff !important;
	padding: 0px 7px;
}

input,
button{
	border: none;
	background: transparent;
	border: 1px solid #ffffff;
	padding: 18px;
	font-family: Poppins !important;
	font-size: 0.8rem;
	font-weight: 300 !important;
	border-radius: 15px;
	width: 100%;
	margin-bottom: 10px;
	color: #FFFFFF90;
}

button{
	background: #ffffff;
	border: 1px solid #ffffff;
	color: #3FBFF3;
}